/* OpenID icon style */
input.system-openid
{ background: url(http://openid.net/login-bg.gif) no-repeat; 
background-color: #fff; background-position: 0 50%; color: #000; padding-left: 18px; }

/* System Messages */
#system-message 
{ margin: 0 0 1em 0; padding: 0;}

#system-message dt
{ font-size: 1.3em; color: #CC0000; font-weight: bold; margin: 0 0 0.5em 0; text-align: center; }

#system-message dd
{ margin: 0; font-weight: bold; background: transparent url(../images/error.png) top left repeat-x; border-top: 2px solid #E85C00; }

#system-message dd ul
{ list-style: none; padding: 1em; }

	#system-message dd ul li
	{ list-style: none; padding: 1em; }

	#system-message dd.error ul li
	{ background: transparent url(../images/stop.gif) 0 55% no-repeat; padding: 0 0 0 25px; }

	/* System Standard Messages */
	#system-message dd.message ul li
	{ background: transparent url(../images/message.gif) 0 55% no-repeat; padding: 0 0 0 25px; }

	/* System Error Messages */
	#system-message dd.error ul li
	{ background: transparent url(../images/stop.gif) 0 55% no-repeat; padding: 0 0 0 25px; }

	/* System Notice Messages */
	#system-message dd.notice ul li
	{ background: transparent url(../images/warning.gif) 2% 55% no-repeat; }

/* Debug */
#system-debug 
{ color: gray; background-color: white; padding: 10px; margin: 10px; text-align: left; }

#system-debug div
{ font-size: 11px;}
